.card {
    background-color: #e5effa; 
    border-radius: 20px;      
    margin-bottom: 30px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: left;
    padding: 30px;
  }

  .button{
    background-color: #e5effa; 
    border-radius: 20px;      
    border: 1px solid #000f2a; 
    color: #000f2a;
    padding: 5px 15px;
    cursor: pointer;
  }

  .button:hover {
    background-color: #000f2a; 
    color: #e5effa;
  }

  .buttonContainer {
    text-align: right;
  }

.title{
    font-size: 45px;

    font-weight: bold;
    color: #000f2a;
    margin-bottom: 15px;
}

.description {
    font-size: 26px;
    color: #000f2a;
    margin-bottom: 25px;
}

.content {
  font-size: 16px;
  color: #000f2a;
  margin-bottom: 25px;
}

.author {
  text-align: right;
    font-size: 14px;
    color: #000f2a;
}