.container{
  background-color: #ffffff; 
  border-radius: 20px;      
  margin-bottom: 15px;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
  padding: 30px;
}

.button{
  background-color: rgb(255, 255, 255);  
  /* border-radius: 20px;      
  border: 1px solid #000f2a;  */
  padding: 5px 15px;
  cursor: pointer;
  margin: 5px;
  font-size: 20px;
  
}

.logo{
  height: 100px;
}