.container{
  background-color: #ffffff; 
  border-radius: 20px;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
}

.button {
  background-color: #ffffff; 
  color: #1b345b  !important; 
  padding: 10px 20px; 
  margin-left: 20px;
  border-radius: 20px; 
  transition: background-color 0.5s ease; 
}

.button:hover {
  background-color: #1b345b; 
  color: #ffffff  !important; 
}

.button.active {
  background-color: #1b345b;
  color: #ffffff;
}

.logo{
  height: 100px;
}